<%= simple_form_for(@delivery_request, :html => { :class => 'form-horizontal', :multipart => true }) do |f| %>
  <%#= f.error_notification %>
<%= render "shared/error_messages", target: @delivery_request %>
<div class="form-inputs mercury-display-pane-container">
  <legend><abbr title="required">*</abbr> Contact information
    <% if current_user.is_admin? %>
      <span class="pull-right"><%= link_to "Edit template", "/editor" + request.path, 
        class: "btn btn-primary",
        id: "edit_link",
        data: {url: mercury_update_html_snippet_path(HtmlSnippet.find_by_name("delivery_request_help"))} %></span>
    </legend>
    <% end %>
  <div class="row">
    <div class="span5">
      <%= f.input :name, label: "Contact name:", required: true, autofocus: true %>
      <%= f.input :email, required: true %>
      <%= f.input :company %>
      <%= f.input :telephone %>
      <%= f.input :address, required: true %>
      <%= f.input :postal_code, required: true %>
      <%= f.input :city, required: true %>
      <%= f.input :country, required: true %>
    </div>
    <div class="span3 mercury-form" id="delivery_request_help" data-mercury="full">
      <%= raw(HtmlSnippet.find_by_name("delivery_request_help").snippets) %>
    </div>
  </div>
</div>
<div class="form-inputs">
  <legend>Modules information</legend>
  <%= f.input :serial_numbers, label: "Serial numbers" %>
  <%= f.input :manufacturers %>
  <%= f.input :reason_of_disposal, collection: @delivery_request.options_for_reason_of_disposal, required: true %>
  <%= f.input :modules_condition, collection: @delivery_request.options_for_modules_condition, required: true %>
</div>

<legend>Technology</legend>
<p class="muted">Please indicate the number of modules for each technology</p>
    <label class="control-label"></label>
      <div class="row">
        <div class="span3">
          <% @technos.first.each do |tech| %>
            <%= f.radio_button :technology,  tech, style: "margin-bottom: 2px;" %>
            <%= f.label :technology, "#{DLV_RQST_TECHNOS[tech]}" , class: "radio inline", style: "margin-right:24px; padding-left: 3px;" %>
            <br/>
          <% end %>
        </div>
        <div class="span3">
          <% @technos.last.each do |tech| %>
            <%= f.radio_button :technology,  tech, style: "margin-bottom: 2px;" %>
            <%= f.label :technology, "#{DLV_RQST_TECHNOS[tech]}" , class: "radio inline", style: "margin-right:24px; padding-left: 3px;" %>
            <br/>
          <% end %>
      </div>
  </div>

  <legend>Modules quantity</legend>
  <div class="row">
    <div class="span3">
      <%= f.input :module_count, input_html: {class: "input-mini"}, label: "Number of modules" %>
    </div>
    <div class="span2">
      <%= f.input :pallets_number, input_html: {class: "input-mini"}, label: "Number of pallets" %>
    </div>
  </div>
<div class="row">
  <div class="span2">
  <p class="muted", style="padding-left: 60px;">Modules size</p>
    <%= f.input :length, input_html: {class: "input-mini"} %>
    <%= f.input :width, input_html: {class: "input-mini"} %>
  </div>
  <div class="span2">
    <p class="muted">&nbsp;</p>
    <%= f.input :height, input_html: {class: "input-mini"} %>
    <%= f.input :weight, input_html: {class: "input-mini"} %>
  </div>
</div>
<%= f.input :comments, input_html: { class: "input-xlarge", rows: 5 } %>
<div class="row">
  <div class="span7">
    <label class="control-label" style="margin-right:20px;">Stop SPAM</label>
      <%= raw recaptcha_tags(ssl: true, display: {theme:  "clean"} ) %>
  </div>
</div>
<div class="form-actions">
  <%= f.button :submit, "Send Delivery request", class: "btn-primary" %>
</div>
<% end %>
