<%= simple_form_for(@delivery_request, :html => { :class => 'form-horizontal', :multipart => true }) do |f| %>
  <%#= f.error_notification %>
<%= render "shared/error_messages", target: @delivery_request %>
<div class="form-inputs">
  <legend><abbr title="required">*</abbr> Contact information</legend>
  <%= f.input :name, label: "Contact name:", required: true, autofocus: true %>
  <%= f.input :email, required: true %>
  <%= f.input :company %>
  <%= f.input :telephone %>
  <%= f.input :address, required: true %>
  <%= f.input :postal_code, required: true %>
  <%= f.input :city, required: true %>
  <%= f.input :country, required: true %>
</div>
<div class="form-inputs">
  <legend>Modules information</legend>
  <%= f.input :serial_numbers, label: "Serial numbers" %>
  <%= f.input :manufacturers %>
  <%= f.input :reason_of_disposal, collection: @delivery_request.options_for_reason_of_disposal, required: true %>
  <%= f.input :modules_condition, collection: @delivery_request.options_for_modules_condition, required: true %>
</div>

<legend>Technology</legend>
<p class="muted">Please indicate the number of modules for each technology</p>
    <label class="control-label"></label>
      <div class="row">
        <div class="span3">
        <%= f.radio_button :CIGS,  "crystalline_silicon", style: "margin-bottom: 2px;" %>
        <%= f.label :CIGS, "crystalline_silicon" , class: "radio inline", style: "margin-right:24px; padding-left: 3px;" %>
        <br/>
        <%= f.radio_button :CIGS, "amorphous_micromorph_silicon", style: "margin-bottom: 2px;" %>
        <%= f.label :CIGS, "amorphous_micromorph_silicon", class: "radio inline", style: "margin-right:24px; padding-left: 3px;" %>
        <br/>
        <%= f.radio_button :CIGS, "laminates_flexible_modules", style: "margin-bottom: 2px;" %>
        <%= f.label :CIGS, "laminates_flexible_modules", class: "radio inline", style: "margin-right:24px; padding-left: 3px;" %>
      </div>
      <div class="span3">
        <%= f.radio_button :CIGS, "CIGS", style: "margin-bottom: 2px;" %>
        <%= f.label :CIGS, "CIGS", class: "radio inline", style: "margin-right:24px; padding-left: 3px;" %>
        <br/>
        <%= f.radio_button :CIGS, "concentration_PV", style: "margin-bottom: 2px;" %>
        <%= f.label :CIGS, "concentration_PV", class: "radio inline", style: "margin-right:24px; padding-left: 3px;" %>
        <br/>
        <%= f.radio_button :CdTe, "CdTe", style: "margin-bottom: 2px;" %>
        <%= f.label :CdTe, "CdTe", class: "radio inline", style: "margin-right:24px; padding-left: 3px;" %>
      </div>
  </div>

  <legend>Modules quantity</legend>
  <div class="row">
    <div class="span3">
      <%= f.input :module_count, input_html: {class: "input-mini"}, label: "Number of modules" %>
    </div>
    <div class="span2">
      <%= f.input :pallets_number, input_html: {class: "input-mini"}, label: "Number of pallets" %>
    </div>
  </div>
<div class="row">
  <div class="span2">
  <p class="muted", style="padding-left: 60px;">Modules size</p>
    <%= f.input :length, input_html: {class: "input-mini"} %>
    <%= f.input :width, input_html: {class: "input-mini"} %>
  </div>
  <div class="span2">
    <p class="muted">&nbsp;</p>
    <%= f.input :height, input_html: {class: "input-mini"} %>
    <%= f.input :weight, input_html: {class: "input-mini"} %>
  </div>
</div>
<%= f.input :comments, input_html: { class: "input-xlarge", rows: 5 } %>
<div class="row">
  <div class="span4 offset1">
    <%= raw recaptcha_tags %>
  </div>
</div>
<div class="form-actions">
  <%= f.button :submit, "Send Delivery request", class: "btn-primary" %>
</div>
<% end %>
