<%- model_class = DeliveryRequest.new.class -%>
<div class="page-header">
  <h1>Delivery Request
  <%= form_tag delivery_requests_path, method: :get, :class=>"form-inline inline pull-right", style: " margin-left: 20px;" do %>
    <%= select_per_page({selected: @per_page, select_options: %w(5 10 20 50 100 250 500 1000), html_input: {class: "span1", id: "per_page", name: "per_page"}})  %>
    <span  class="help-inline" style="font-size: 14px; font-weight: normal; color: #999;">per page</span>
  <% end -%>
  <%= link_to raw("<i class=\"icon-file\"></i> New Delivery Request"),
            new_delivery_request_path,
            class: 'btn btn-primary pull-right',
            style: "margin-top: 8px;" %>
  </h1>
</div>
<ul class="breadcrumb">
  <% DeliveryRequest.delivery_requests_status.each_pair do |s, v| %>
    <% if @active == s %>
      <li class="active"><%= "#{v}" %> <span class="divider">|</span></li>
    <% else %>
      <li><%= link_to "#{v}", delivery_requests_path(status: "#{s}")%> <span class="divider">|</span></li>
    <% end -%>
  <% end -%>
  <li <%= @active == "all" ? raw("class=\"active\">All</li>") : raw(">#{link_to "All", delivery_requests_path}</li>") %>
</ul>
<% if @delivery_requests.any? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Email</th>
      <th>City</th>
      <th>Country</th>
      <th>Modules #</th>
      <th class="actions">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @delivery_requests.each do |drq| %>
      <tr>
        <td><%= link_to drq.name.capitalize.truncate(25), drq %></td>
        <td><%= drq.status %></td>
        <td><%= drq.email.truncate(25) %></td>
        <td><%= drq.city.truncate(25) %></td>
        <td><%= drq.country.truncate(22) %></td>
        <td><%= drq.module_count %></td>
        <td><%= drq.pallets_number %></td>
        <td>
          <div class="btn-group pull-right">
            <%#= link_to raw('<i class="icon-edit"></i>'), edit_delivery_request_path(drq),
              class: 'btn  btn-mini btn-tooltip', title: "Edit member" %>
        <% if current_user.is_admin? %>
          <%= link_to raw('<i class="icon-trash"></i>'),
            drq, method: :delete, data: { confirm: 'Are you sure?' },
            class: 'btn btn-mini btn-danger btn-tooltip', title: "Delete member"%>
        <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p style="text-align:center;"><%= raw page_entries_info(@delivery_requests) %></p>
<div class="pagination pagination-centered">
  <%= paginate @delivery_requests %>
</div>
<% end %>
