<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @delivery_request.name %>
</p>

<p>
  <b>Email:</b>
  <%= @delivery_request.email %>
</p>

<p>
  <b>Telephone:</b>
  <%= @delivery_request.telephone %>
</p>

<p>
  <b>Address:</b>
  <%= @delivery_request.address %>
</p>

<p>
  <b>Postal code:</b>
  <%= @delivery_request.postal_code %>
</p>

<p>
  <b>City:</b>
  <%= @delivery_request.city %>
</p>

<p>
  <b>Longitude:</b>
  <%= @delivery_request.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @delivery_request.latitude %>
</p>

<p>
  <b>Country:</b>
  <%= @delivery_request.country %>
</p>

<p>
  <b>Serial numbers:</b>
  <%= @delivery_request.serial_numbers %>
</p>

<p>
  <b>Manufacturers:</b>
  <%= @delivery_request.manufacturers %>
</p>

<p>
  <b>Crystalline silicon:</b>
  <%= @delivery_request.crystalline_silicon %>
</p>

<p>
  <b>Amorphous micromorph silicon:</b>
  <%= @delivery_request.amorphous_micromorph_silicon %>
</p>

<p>
  <b>Laminates flexible modules:</b>
  <%= @delivery_request.laminates_flexible_modules %>
</p>

<p>
  <b>Concentration pv:</b>
  <%= @delivery_request.concentration_PV %>
</p>

<p>
  <b>Cigs:</b>
  <%= @delivery_request.CIGS %>
</p>

<p>
  <b>Cdte:</b>
  <%= @delivery_request.CdTe %>
</p>

<p>
  <b>Length:</b>
  <%= @delivery_request.length %>
</p>

<p>
  <b>Witdh:</b>
  <%= @delivery_request.witdh %>
</p>

<p>
  <b>Height:</b>
  <%= @delivery_request.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @delivery_request.weight %>
</p>

<p>
  <b>Reason of disposal:</b>
  <%= @delivery_request.reason_of_disposal %>
</p>

<p>
  <b>Modules condition:</b>
  <%= @delivery_request.modules_condition %>
</p>


<%= link_to 'Edit', edit_delivery_request_path(@delivery_request) %> |
<%= link_to 'Back', delivery_requests_path %>
