<%= simple_form_for @collection_point, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :cp_id, label: "Collection Point ID" %>
  <%= f.input :name %>
  <%= f.input :telephone %>
  <%= f.input :address %>
  <%= f.input :postal_code %>
  <%= f.input :city %>
  <%= f.input :country %>
  <%= f.input :status, collection: @collection_point.collection_points_status.keys, label_method: lambda { |obj| @collection_point.collection_points_status[obj] } , required: true %>
  <legend>Contacts details</legend>
  <p class="muted">Please start to type the contact name, and select from the list.</p>
  <div class="control-group select required">
    <label class="select required control-label" for="collection_point_contact_ids">
      <abbr title="required">*</abbr> Contacts</label>
    <div class="controls">
      <%= f.association :contact do %>
        <%= f.hidden_field :contact_ids, as: :hidden, value: @collection_point.contacts.map(&:to_select2).to_json,
            class: "edit", multiple: :true %>
      <% end %>
      <!-- Button to trigger modal -->
      <%#= link_to "Create a new Contact", "#ContactModal", class: "btn btn-primary", data: { toggle: "modal"}  %>
      <%= link_to "Create a new Contact...", new_contact_path(format: [:js]) , method: :get, remote: true, id: "more_contacts",
        class: "btn btn-primary" %>
    </div>
  </div>

  <!-- Modal -->
  <div id="ContactModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="ContactModalLabel">Create a new Contact</h3>
    </div>
    <div class="modal-body" id="create_contact_form">
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Create Contact</button>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                collection_points_path, :class => 'btn' %>
  </div>
<% end %>
