<%= simple_form_for @collection_point, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :cp_id %>
  <%= f.input :name %>
  <%= f.input :telephone %>
  <%= f.input :address %>
  <%= f.input :postal_code %>
  <%= f.input :city %>
  <%= f.input :country %>
  <%= f.input :longitude %>
  <%= f.input :latitude %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                collection_points_path, :class => 'btn' %>
  </div>
<% end %>
