<div class="page-header">
  <h1>Collection Points
  <%= form_tag collection_points_path, method: :get, :class=>"form-inline inline pull-right", style: " margin-left: 20px;" do %>
    <%= select_per_page({selected: @per_page, select_options: %w(5 10 20 50 100 250 500 1000), html_input: {class: "span1", id: "per_page", name: "per_page"}})  %>
    <span  class="help-inline" style="font-size: 14px; font-weight: normal; color: #999;">per page</span>
  <% end -%>
<%= link_to raw("<i class=\"icon-file\"></i> New Collection Point"),
            new_collection_point_path,
            class: 'btn btn-primary pull-right',
            style: "margin-top: 8px;" %>
  </h1>
</div>
<ul class="breadcrumb">
  <% CollectionPoint.collection_points_status.each_pair do |s, v| %>
    <% if @active == s %>
      <li class="active"><%= "#{v}" %> <span class="divider">|</span></li>
    <% else %>
      <li><%= link_to "#{v}", collection_points_path(status: "#{s}")%> <span class="divider">|</span></li>
    <% end -%>
  <% end -%>
  <li <%= @active == "all" ? raw("class=\"active\">All</li>") : raw(">#{link_to "All", collection_points_path}</li>") %>
</ul>
<p style="text-align:center;">
  <%= raw page_entries_info @collection_points, entry_name: "CollectionPoint" %>
</p>

<div class="pagination pagination-centered">
  <%= paginate @collection_points %>
</div>

<% if @collection_points.any? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>CP#</th>
      <th>City</th>
      <th>Country</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @collection_points.each do |collection_point| %>
      <tr>
        <td><%= link_to collection_point.name, collection_point_path(collection_point) %></td>
        <td><%= collection_point.cp_id %></td>
        <td><%= collection_point.city %></td>
        <td><%= collection_point.country %></td>
        <td>
          <div class="btn-group">
            <%= link_to raw("<i class=\"icon-edit\"></i>"),
                        edit_collection_point_path(collection_point), :class => 'btn btn-mini' %>
            <%= link_to raw("<i class=\"icon-trash\"></i>"),
                        collection_point_path(collection_point),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination pagination-centered">
  <%= paginate @collection_points %>
</div>
<% end %>
