<%- model_class = CollectionPoint -%>
<div class="page-header">
  <h2>
    <%= @collection_point.name %><small> #<%= @collection_point.cp_id %>
      <span class="pull-right" style="line-height: 50px; ">
        Status: 
        <span class="<%= @collection_point.status_html_class %>">
          <%= @collection_point.humanized_status %>
        </span>
      </span>
    </small>
  </h2>
</div>
<div class="row">
  <div class="span3">
    <address>
      <strong><%= @collection_point.name %></strong><br>
      <%= @collection_point.address %><br>
      <%= "#{@collection_point.postal_code}, #{@collection_point.city}" %><br>
      <%= "#{@collection_point.country.upcase}" %><br>
      <%= @collection_point.lat_long %><br>
      <abbr title="Phone">P:</abbr> <%= @collection_point.telephone %>
    </address>
    <legend>Contact details</legend>
    <%= contact_details @collection_point %>
  </div>
  <div class="span5">
    <%#= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=10&markers=#{@collection_point.latitude}%2C#{@collection_point.longitude}" %>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x130&maptype=roadmap&sensor=false&center=#{@collection_point.latitude}%2C#{@collection_point.longitude}&zoom=10&style=feature%3Aall%7Celement%3Aall%7Csaturation%3A-100&markers=color%3A0xEE127B%7C#{@collection_point.latitude}%2C#{@collection_point.longitude}", width: 450, height: 130 %>
  </div>
</div>

<div class="form-actions">
  <div class="btn-group">
  <%= link_to "Back",
              :back, :class => 'btn'  %>
  <%= link_to "Edit",
              edit_collection_point_path(@collection_point), :class => 'btn' %>
  <%= link_to "Destroy",
              collection_point_path(@collection_point),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  </div>
</div>
