<%- model_class = Contact.new.class -%>
<div class="page-header">
  <h1><i class="icon-tags"></i> Users Statistics</h1>
</div>

<div class="row">
  <div class="span10">
    <h2>Users weekly activity <small id="week_title">Week #<%= @date.strftime("%W") %>: <%= @date.beginning_of_week.strftime("%B, %d") %> to <%= @date.end_of_week.strftime("%d, %Y") %></small></h2>
    <%= content_tag :div, "", id: "user_weekly_activity", data: {stats: @weekly_stats[:data], labels: @weekly_stats[:labels] } %>
    <div class="row">
      <div class="span2">
        <%= link_to raw("<i class=\"icon-arrow-left\"></i> Previous week"), "#", id: "previous_week", data: {date: raw(@date.prev_week) } %>
      </div>
      <div class="offset6 span2">
        <%= link_to raw("Next week <i class=\"icon-arrow-right\"></i>"), "#", class: "pull-right", id: "next_week", data: {date: raw(@date.next_week) } %>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span10">
    <h2>Users monthly activity <small id="month_title"><%= @date.strftime("%B %Y") %></small></h2>
    <%= content_tag :div, "", id: "user_monthly_activity", data: {stats: @monthly_stats[:data], labels: @monthly_stats[:labels] } %>
    <div class="row">
      <div class="span2">
        <%= link_to raw("<i class=\"icon-arrow-left\"></i> Previous month"), "#", id: "previous_month", data: {date: raw(@date.prev_month) } %>
      </div>
      <div class="offset6 span2">
        <%= link_to raw("Next month <i class=\"icon-arrow-right\"></i>"), "#", class: "pull-right", id: "next_month", data: {date: raw(@date.next_month) } %>
      </div>
    </div>
  </div>
</div>
