<%= simple_form_for(@email_listing, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= render "shared/error_messages", target: @email_listing %>

  <%= f.input :name, required: true, class: "input-large" %>

  <%= f.input :countries, label: "Countries",
    input_html: { data: { tags: {tokenSeparators: [";"], tags: COUNTRIES}},
                  multiple: true, style: "width:70%;height:300px;"} %>
  <%#= f.input :operator, :collection => ["NONE", "AND", "OR"], as: :radio_buttons %>
  <!-- Tag selector options (ALL, ANY, EXCEPT -->
  <div class="control-group radio_buttons optional">
    <label class="control-label"></label>
    <div class="controls">
      <% ["ANY", "ALL", "EXCEPT" ].each do |option| %>
        <%= f.radio_button :tag_selector, option, style: "margin-bottom: 2px;" %>
        <%= f.label :tag_selector, option.humanize, class: "radio inline", style: "margin-right:24px; padding-left: 3px;" %>
    <% end %>
    <span class="help-inline">of the matching tags below</span>
    </div>
  </div>
  <%= f.input :tags, label: "Select Tags",
    input_html: { data: { tags: {tokenSeparators: [","], tags: Contact.tag_counts.map(&:name)}},
                  multiple: true, style: "width:70%;height:300px;"} %>

  <%= f.input :per_line, :collection => (1..10).map{|m| m * 10 }+[250,500] %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to "Cancel", email_listings_path, class: "btn" %>
  </div>
<% end %>
