<div class="control-group <%= @email_error %>">
  <%= f.label raw("<abbr title=\"required\">*</abbr> Email address"), class: "control-label" %>
  <div class="controls">
    <%= f.text_field :address %>
    <span class="help-inline">
      <% if @email_error %>
        can't be blank
      <% end %>
      <%= f.hidden_field :_destroy %>
      <%= link_to "remove", '#', class: "remove_fields" %>
    </span>
  </div>
</div>
