<%- model_class = Contact.new.class -%>
<div class="page-header">
  <h1><i class="icon-user"></i>
    <%=t '.title', :default => model_class.model_name.human.pluralize %>
    <small>{<%= Contact.count %>}</small>
  </h1>
</div>
  <%= form_tag contacts_path, method: :get, :class=>"well form-inline", style: "clear:none;" do %>
    <%= text_field_tag :query, params[:query], :class=>"input-medium" %>
    <%= submit_tag "Search", name: nil, :class=>"btn" %>
    <%= link_to raw('<i class="icon-plus-sign"></i> New contact'), new_contact_path, :class => 'btn btn-primary pull-right' %>
<% end -%>

<% if @contacts.empty? %>
  <div class="alert alert-error">
    <strong>
      <i class="icon-exclamation-sign"></i> Sorry, no results :(
    </strong>
  </div>
<% else %>
  <% if @q %>
  <div class="alert alert-info">
    <strong>Search results: <%= "#{pluralize(@contacts.total, 'result')}" %> matching the patern</strong>
  </div>
  <% end %>
  <%= will_paginate @contacts, :renderer => BootstrapPagination::Rails %>
  <%#= paginate @contacts %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:company) %></th>
        <th>Contact Name</th>
        <th>Email</th>
        <th>Website</th>
        <th><%= model_class.human_attribute_name(:category) %></th>
        <th><%= model_class.human_attribute_name(:country) %></th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr id="contact_table" value="<%= contact.user_id %>">
          <td><%= link_to contact.company, contact_path(contact) %></td>
          <td><%= contact.last_name %></td>
          <td>
            <%= raw(contact.email_addresses.join("<br />")) %>
          </td>
          <td><%= display_website contact.website %></td>
          <td><%= contact.category %></td>
          <td><%= contact.country %></td>
          <td class="actions">
            <div class="btn-group pull-right">
              <%= link_to raw('<i class="icon-edit"></i>'),
                edit_contact_path(contact), :class => 'btn btn-mini', :title => 'edit contact' %>
              <%= link_to raw('<i class="icon-download"></i>'), contact_path(contact, format: "pdf"), :class => "btn btn-info btn-mini" %>
              <%= link_to raw('<i class="icon-share"></i>'), duplicate_path(contact),
                class: 'btn btn-mini btn-info', title: "Duplicate this entry" %>
              <% if current_user.is_admin? %>
                <%= link_to raw('<i class="icon-trash icon-white"></i>'),
                  contact_path(contact),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                  :class => 'btn btn-mini btn-danger' %>
              <% end -%>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @contacts, :renderer => BootstrapPagination::Rails %>
  <%#= paginate @contacts %>
<% end -%>

<%#<% if current_user.is_admin? %>
  <%#<%= link_to raw('<i class="icon-plus-sign"></i>'), "#", :class => 'btn', :id => 'show_options_filter' %>
  <%#<span id="options_filter">%>
    <%#<label class="checkbox">%>
      <%#Show contacts create by users:<%= raw ("&nbsp;"*4) %>
  <%#</label>%>
  <%#<% @users.each do |u| %>
    <%#<label class="checkbox">%>
      <%#<%= check_box_tag "sort_user_contact", u.id, :checked => false %>
      <%#<%= u.username %>
    <%#</label> |%>
  <%#<% end -%>
  <%#<label class="checkbox">%>
    <%#<%= check_box_tag "check_all", :checked => false %>
    <%#<span id="check_all_span">uncheck all</span>%>
  <%#</label>%>
<%#</span>%>
    <%#<% end %>
