<%- model_class = @contact.class -%>
<div class="page-header">
  <h1>Company: <%= @contact.company %></h1>
</div>
<dl class="dl-horizontal">
  <dt><strong>Status:</strong></dt>
  <dd<%= @contact.is_active ? "" : " class='status_inactive'" %>> <i class="<%= @contact.is_active ? "icon-ok-circle" : "icon-ban-circle" %>"></i> <%= @contact.is_active ? "Active" : "Inactive" %> contact</dd>
  <dt><strong><%= :category %>:</strong></dt>
  <dd<%= @contact.is_active ? "" : " class='inactive'" %>><%= dash_display @contact.category %></dd>
  <dt><strong><%= :address %>:</strong></dt>
  <dd<%= @contact.is_active ? "" : " class='inactive'" %>><%= dash_display @contact.address %></dd>
  <dt<%= @contact.is_active ? "" : " class='inactive'" %>><strong><%= :postal_code %>:</strong></dt>
  <dd<%= @contact.is_active ? "" : " class='inactive'" %>><%= dash_display @contact.postal_code %></dd>
  <dt><strong><%= :country %>:</strong></dt>
  <dd<%= @contact.is_active ? "" : " class='inactive'" %>><%= dash_display @contact.country %></dd>
  <dt><strong><%= :first_name %>:</strong></dt>
  <dd<%= @contact.is_active ? "" : " class='inactive'" %>><%= dash_display @contact.first_name %></dd>
  <dt><strong><%= :last_name %>:</strong></dt>
  <dd<%= @contact.is_active ? "" : " class='inactive'" %>><%= dash_display @contact.last_name %></dd>
  <dt><strong><%= :infos %>:</strong></dt>
  <dd<%= @contact.is_active ? "" : " class='inactive'" %>><%= dash_display @contact.infos %></dd>
  <dt><strong><%= :is_ceres_member %>:</strong></dt>
  <dd<%= @contact.is_active ? "" : " class='inactive'" %>><%= dash_display @contact.is_ceres_member %></dd>
  <dt><strong><%= :position %>:</strong></dt>
  <dd<%= @contact.is_active ? "" : " class='inactive'" %>><%= dash_display @contact.position %></dd>
  <dt><strong>phone:</strong></dt>
  <dd<%= @contact.is_active ? "" : " class='inactive'" %>><%= dash_display @contact.phone %></dd>
  <dt><strong><%= :fax %>:</strong></dt>
  <dd<%= @contact.is_active ? "" : " class='inactive'" %>><%= dash_display @contact.fax %></dd>
  <dt><strong><%= :cell %>:</strong></dt>
  <dd<%= @contact.is_active ? "" : " class='inactive'" %>><%= dash_display @contact.cell %></dd>
  <dt><strong><%= :website %>:</strong></dt>
  <dd<%= @contact.is_active ? "" : " class='inactive'" %>><%= display_website @contact.website %></dd>
  <dt><strong><%= :email %>:</strong></dt>
  <%= raw @contact.email_addresses.map{|a| "<dd#{@contact.is_active ? "" : " class='inactive'"}>#{a}</dd>"}.join %>
</dl>

<div style="clear:both;">
</div>
<div class="form-actions">
  <%= image_tag (@contact.is_active ? "glyphicons/glyphicons_198_ok.png" : "glyphicons/glyphicons_199_ban.png") %>&nbsp;
  <%= link_to t('.back', :default => t("helpers.links.back")),
                contacts_path, class: "btn" %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_contact_path(@contact), class: @class %>
  <%= link_to "Bounce", contact_path(@contact, bounce: true), class: "#{@class} btn-primary"  %>
  <% if @contact.is_active %>
    <%= link_to "Deactivate", contact_path(@contact, deactivate: true), class: "btn btn-warning"  %>
  <% else %>
    <%= link_to "Activate", contact_path(@contact, activate: true), class: "btn btn-warning"  %>
  <% end %>
  <%#= link_to raw('<i class="icon-download"></i> Export as PDF'), contact_path(@contact, format: "pdf"), :class => "btn btn-info" %>
  <%= link_to "Duplicate", duplicate_path, class: "#{@class} btn-primary" %>
  <% if current_user.is_admin? %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              contact_path(@contact),
              :method => 'delete',
              :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
              class: "#{@class} btn-danger" %>
  <% end -%>
</div>
