<%- model_class = @contact.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<dl class="dl-horizontal">
  <dt><strong><%= :company %>:</strong></dt>
  <dd><%= dash_display @contact.company %></dd>
  <dt><strong><%= :category %>:</strong></dt>
  <dd><%= dash_display @contact.category %></dd>
  <dt><strong><%= :address %>:</strong></dt>
  <dd><%= dash_display @contact.address %></dd>
  <dt><strong><%= :postal_code %>:</strong></dt>
  <dd><%= dash_display @contact.postal_code %></dd>
  <dt><strong><%= :country %>:</strong></dt>
  <dd><%= dash_display @contact.country %></dd>
  <dt><strong><%= :first_name %>:</strong></dt>
  <dd><%= dash_display @contact.first_name %></dd>
  <dt><strong><%= :last_name %>:</strong></dt>
  <dd><%= dash_display @contact.last_name %></dd>
  <dt><strong><%= :infos %>:</strong></dt>
  <dd><%= dash_display @contact.infos %></dd>
  <dt><strong><%= :is_ceres_member %>:</strong></dt>
  <dd><%= dash_display @contact.is_ceres_member %></dd>
  <dt><strong><%= :position %>:</strong></dt>
  <dd><%= dash_display @contact.position %></dd>
  <dt><strong>phone:</strong></dt>
  <dd><%= dash_display @contact.phone %></dd>
  <dt><strong><%= :fax %>:</strong></dt>
  <dd><%= dash_display @contact.fax %></dd>
  <dt><strong><%= :cell %>:</strong></dt>
  <dd><%= dash_display @contact.cell %></dd>
  <dt><strong><%= :website %>:</strong></dt>
  <dd><%= display_website @contact.website %></dd>
  <dt><strong><%= :email %>:</strong></dt>
  <%= raw @contact.email_addresses.map{|a| "<dd>#{a}</dd>"}.join %>
</dl>

<div style="clear:both;">
</div>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              contacts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_contact_path(@contact), :class => 'btn' %>
  <%= link_to "Duplicate", duplicate_path, :class => 'btn'  %>
  <%= link_to raw('<i class="icon-download"></i> Export as PDF'), contact_path(@contact, format: "pdf"), :class => "btn btn-info" %>
  <%= link_to raw('<i class="icon-download"></i> Download Certificate'), contact_path(@contact, format: "pdf", certif: true), :class => "btn btn-inverse" %>
  <% if current_user.is_admin? %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              contact_path(@contact),
              :method => 'delete',
              :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
              :class => 'btn btn-danger' %>
  <% end -%>
</div>
