<%- model_class = Contact.new.class -%>
<div class="page-header">
  <h1><i class="icon-tags"></i> Contacts Statistics</h1>
</div>

<div class="row">
  <div class="span9 hero-unit">
    <div class="row">
      <div class="span3">
        <h2>Global statistics</h2>
        <dl class="dl-horizontal">
          <dt>Active contacts</dt>
          <dd><%= Contact.active_contacts.count %></dd>
          <dt>Inactive contacts</dt>
          <dd><%= Contact.inactive_contacts.count %></dd>
          <dt>Emails addresses</dt>
          <dd><%= Email.count %></dd>
        </dl>
      </div>

      <div class="span3">
        <h3>Contact by country</h3>
        <%= content_tag :div, "", id: "contacts_by_countries", data: {stats: @contacts_by_countries } %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span10">
    <div class="page-header">
      <h2>Last added contacts</h2>
    </div>

      <table class="table table-bordered pagination-centered" style="margin: 0 auto 10px;">
      <thead>
        <tr>
          <th>Company</th>
          <th>Email</th>
          <th>Created by</th>
          <th>Created on</th>
        </tr>
      </thead>
      <tbody id="more_contacts_table">
    <% @last_ten.each do |contact| %>
      <tr>
        <td><%= link_to contact.company.truncate(30), contact_path(contact.id) %></td>
        <td><%= contact.emails.first.address.truncate(30) %></td>
        <td><%= User.find_by_id(contact.user_id).username %></td>
        <td><%= contact.created_at.strftime("%d/%m/%y") %></td>
      </tr>
    <% end %>
      </tbody>
    </table>
  </div>
  <div class="span10">
    <div class="well well-small pagination-centered">
      <div style="max-width: 400px; margin: 0 auto 0px;">
        <%= link_to "Next 10 contacts...", more_contacts_path(@last_ten.last.id-1) , method: :post, remote: true, id: "more_contacts", class: "btn btn-large btn-block", data: {last: raw(@last_ten.last.id)} %>
      </div>
    </div>
  </div>
</div>
<div id="shit"></div>
