<%= javascript_tag do %>
  window.monthly_labels = <%= raw @monthly_stats.last.to_json %>;
  window.weekly_labels  = <%= raw @weekly_stats.last.to_json %>;
<% end %>

<%- model_class = Contact.new.class -%>
<div class="page-header">
  <h1><i class="icon-tags"></i> Contacts Statistics</h1>
</div>

<div class="row">
  <div class="span9 hero-unit">
    <div class="row">
      <div class="span3">
        <h2>Global statistics</h2>
        <dl class="dl-horizontal">
          <dt>Active contacts</dt>
          <dd><%= Contact.active_contacts.count %></dd>
          <dt>Inactive contacts</dt>
          <dd><%= Contact.inactive_contacts.count %></dd>
          <dt>Emails addresses</dt>
          <dd><%= Email.count %></dd>
        </dl>
      </div>

      <% if @contacts_per_day.any? %>
      <div class="span3">
        <h2>Contact per day</h2>
        <dl class="dl-horizontal">
          <% @contacts_per_day.each_pair do |name, average| %>
            <dt><%= name %></dt>
          <dd><%= average %></dd>
        <% end %>
        </dl>
      </div>
      <% end %>

      <% if @contacts_per_month.any? %>
      <div class="span3">
        <h2>Contact per month</h2>
        <dl class="dl-horizontal">
          <% @contacts_per_month.each_pair do |name, average| %>
            <dt><%= name %></dt>
          <dd><%= average %></dd>
        <% end %>
        </dl>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span10">
    <h2>Last 10 contacts added</h2>
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>Company</th>
          <th>Email</th>
          <th>Created by</th>
          <th>Created on</th>
        </tr>
      </thead>
      <tbody>
    <% Contact.last(10).each do |contact| %>
      <tr>
        <td><%= link_to contact.company.truncate(30), contact_path(contact.id) %></td>
        <td><%= contact.emails.first.address.truncate(30) %></td>
        <td><%= User.find_by_id(contact.user_id).username %></td>
        <td><%= contact.created_at.strftime("%d/%m/%y") %></td>
      </tr>
    <% end %>
      </tbody>
    </table>
  </div>
</div>
<hr />
<div class="row">
  <div class="span10">
    <h2>Users weekly activity <small>Week #<%= Date.today.strftime("%W") %>: <%= Date.today.beginning_of_week.strftime("%B, %d") %> to <%= Date.today.end_of_week.strftime("%d, %Y") %></small></h2>
    <%= content_tag :div, "", id: "user_weekly_activity", data: {stats: @weekly_stats.first} %>
  </div>
</div>
<hr />
<div class="row">
  <div class="span10">
    <h2>Users monthly activity <small><%= Date.today.strftime("%B %Y") %></small></h2>
    <%= content_tag :div, "", id: "user_monthly_activity", data: {stats: @monthly_stats.first } %>
  </div>
</div>
