<%= simple_form_for @email_template, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :language %>
  <%= f.input :content %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                email_templates_path, :class => 'btn' %>
  </div>
<% end %>
