<!DOCTYPE html>
<html
  <% if controller_path.match(/joomla/) or request.fullpath.match(/\/joomla\/delivery_request/) %>
    style="width: 715px !important;"
  <% end %>
>
  <head>
    <title>Cheerful Tuna</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <% if "#{controller_path}:#{controller.action_name}".match(/contacts:tag_cloud/) or
         (controller.action_name.match(/edit|new|create|update/) and
          not controller_path.match(/joomla\/users/))
       %>
      <%= stylesheet_link_tag "select2" if controller.action_name.match(/edit|new|create|update/) %>
      <%= stylesheet_link_tag controller_name %>
    <% end %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tag %>
  </head>
  <body <%= raw('style="width: 500px !important;" id="joomla_request_new"') if controller_path.match(/joomla/) or request.fullpath.match(/\/joomla\/delivery_request/) %> >
  <% if false %>
    <%= controller_path %>
    <br />
    <%= controller.action_name %>
    <br />
    <%= controller_name %>
    <br />
    <%= request.fullpath %>
  <% end %>
  <% if controller_path.match(/joomla/) or request.fullpath.match(/\/joomla\/delivery_request/) %>
    <%= yield %>
  <% else %>
    <%= render partial: 'layouts/navbar' %>
    <%= render 'layouts/flash', flash: flash %>
    <% if "#{controller_name}::#{controller.action_name}".match(/members::show/) %>
      <%= yield %>
    <% else %>
      <div class="container">
        <div class="row">
          <div class="span10 offset1">
            <%= yield %>
          </div>
        </div>
      </div>
    <% end %>
    <%= render 'layouts/footer' %>
  <% end %>
    <%= javascript_include_tag "application", controller_name %>
    <%= javascript_include_tag "bootstrap-datepicker" if controller_path.match(/members/) %>
    <%= javascript_include_tag "raphael-min", "morris.min" if controller.action_name.match(/statistics/) %>
    <%= javascript_include_tag "select2" if controller.action_name.match(/edit|new|create|update/) %>
  </body>
</html>
