<!DOCTYPE html>
<html>
  <head>
    <title>Cheerful Tuna</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <% if "#{controller_path}:#{controller.action_name}".match(/contacts:tag_cloud/) %>
      <%= stylesheet_link_tag controller_name %>
    <% end %>
    <% if controller.action_name.match(/edit|new/) %>
      <%= stylesheet_link_tag controller_name %>
    <% end %>
    <%# if controller_path.match(/editor/) %>
      <%#= javascript_include_tag 'mercury.js' %>
      <%#= stylesheet_link_tag 'mercury_overrides.css' %>
    <%# end -%>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tag %>
  </head>
  <body>
  <%#= controller_path %>
  <%#= controller.action_name %>
  <%#= controller_name %>
  <%#= request.fullpath %>
  <% if controller_path.match(/joomla/) or request.fullpath.match(/\/joomla\/delivery_request/)%>
    <%= yield %>
  <% else %>
    <%= render :partial => 'layouts/navbar' %>
    <% if flash.any? %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="row">
          <div class="span10 offset1">
            <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
              <a class="close" data-dismiss="alert">×</a>
              <%= raw(msg) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
    <% if "#{controller_name}::#{controller.action_name}".match(/members::show/) %>
      <%= yield %>
    <% else %>
      <div class="container">
        <div class="row">
          <div class="span10 offset1">
            <%= yield %>
          </div>
        </div>
      </div>
    <% end %>
    <%= render :partial => 'layouts/footer' %>
  <% end %>
  <%= javascript_include_tag "application", controller_name %>
    <%= javascript_include_tag "raphael-min", "morris.min" if controller.action_name.match(/statistics/) %>
    <%= javascript_include_tag "select2", "bootstrap-datepicker" if controller.action_name.match(/edit|new/) %>
  </body>
</html>
