<!DOCTYPE html>
<html>
  <head>
    <title>Cheerful Tuna</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <% if controller.class.name == "PagesController" %>
      <%#= javascript_include_tag 'mercury.js' %>
      <%#= stylesheet_link_tag 'mercury_overrides.css' %>
    <% end -%>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tag %>
  </head>
  <body>
  <%#= controller_name %>
    <%= render :partial => 'layouts/navbar' unless controller_path.match(/joomla/) %>
    <% if flash.any? %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="row">
          <div class="span10 offset1">
            <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
              <a class="close" data-dismiss="alert">×</a>
              <%= raw(msg) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
    <% if controller_name == "members" and controller.action_name == "show" %>
      <%= yield %>
    <% else %>
      <div class="container">
        <div class="row">
          <div class="span10 offset1">
            <%= yield %>
          </div>
        </div>
      </div>
    <% end %>
    <%= render :partial => 'layouts/footer'  unless controller_path.match(/joomla/) %>
    <%= javascript_include_tag "application", controller_name %>
  </body>
</html>
