<%= simple_form_for @member, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <%= render "shared/error_messages", target: @member %>
  <fieldset>
  <%= f.input :company, :autofocus => true %>
  <%= f.input :country, prompt: "Select a country", required: true %>
  <%#= f.input :email, required: true %>
  <%= f.input :user_name, :required => true %>
  <%= f.input :web_profile_url, required: true %>
  <%= f.input :start_date, required: true, as: :string %>
  <%= f.input :category, collection: %w[Free A B C D], prompt: "Select the membership fee", required: true %>
  <%#<%= f.input :password, :required => true %>
  <%#<%= f.input :password_confirmation, :required => true %>
  <div class="control-group select required">
    <label class="select required control-label" for="member_category">
      <abbr title="required">*</abbr> Contacts</label>
    <div class="controls">
      <input value='<%= raw @member.contacts.map(&:to_select2).to_json %>' multiple="multiple" type="hidden" id="member_contact_ids" name="member[contact_ids][]" />
    </div>
  </div>
  <%= f.input :address, required: true %>
  <%= f.input :city, required: true %>
  <%= f.input :postal_code, required: true %>
  <%= f.input :activity, required: true %>
  <%= f.input :vat_number %>
  <%= f.input :membership_file %>
  <%= f.input :logo_file %>
  <hr />
  <%= f.input :billing_address %>
  <%= f.input :billing_city %>
  <%= f.input :billing_postal_code %>
  <%= f.input :billing_country %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                members_path, :class => 'btn' %>
  </div>
  </fieldset>
<% end %>
