<%= simple_form_for @member, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <%= render "shared/error_messages", target: @member %>
  <fieldset>
  <%= f.input :company, :autofocus => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :user_name, :required => true %>
  <%= f.input :web_profile_url %>
  <%#<%= f.input :password, :required => true %>
  <%#<%= f.input :password_confirmation, :required => true %>
  <hr />
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :postal_code %>
  <%= f.input :country %>
  <%= f.input :activity %>
  <%= f.input :category %>
  <%= f.input :vat_number %>
  <%= f.input :start_date %>
  <%= f.input :membership_file %>
  <%= f.input :logo_file %>
  <hr />
  <%= f.input :billing_address %>
  <%= f.input :billing_city %>
  <%= f.input :billing_postal_code %>
  <%= f.input :billing_country %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                members_path, :class => 'btn' %>
  </div>
</fieldset>
<% end %>
