<%= simple_form_for @member, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <%= render "shared/error_messages", target: @member %>
  <div class="row">
    <div class="span4">
      <legend><abbr title="required">*</abbr> Membership details</legend>
      <%= f.input :company, :autofocus => true %>
      <%#= f.input :email, required: true %>
      <%= f.input :user_name, required: true %>
      <%= f.input :web_profile_url, label: "Web Profile URL", required: true %>
      <%= f.input :start_date, required: true, as: :string %>
      <%= f.input :category, collection: %w[Free A B C D], required: true %>
      <%= f.input :vat_number %>
    </div>

    <div class="span4 offset1">
      <legend>Member's contacts details</legend>
      <p class="muted">Please start to type the contact name, and select from the list.</p>
      <div class="control-group select required">
        <label class="select required control-label" for="member_category">
          <abbr title="required">*</abbr> Contacts</label>
        <div class="controls">
          <input value='<%= raw @member.contacts.map(&:to_select2).to_json %>' multiple="multiple" type="hidden" id="member_contact_ids" name="member[contact_ids][]" />
        </div>
      </div>
      <legend>Member's Brands &amp; Activities</legend>
      <p class="muted">Please enter brand and activity names. Press the comma key to separate tags.</p>
      <%= f.input :activity_list, label: "Member's activities(s)",
        input_html: { data: { tags: {tokenSeparators: [","], tags: Member.activity_counts.map(&:name)}} } %>
      <%= f.input :brand_list, label: "Member's Brand(s)",
        input_html: { data: { tags: {tokenSeparators: [","], tags: @member.brand_list}} } %>
      <legend>Member's files</legend>
      <%= f.input :membership_file, disabled: true %>
      <%= f.input :logo_file, disabled: true %>
  </div>
</div>
<div class="row">
  <div class="span4">
    <legend><abbr title="required">*</abbr> Member address details</legend>
    <%= f.input :address, required: true %>
    <%= f.input :city, required: true %>
    <%= f.input :postal_code, required: true %>
    <%= f.input :country, required: true %>
  </div>
  <div class="span4 offset1">
    <legend>Member billing address details <small class="pull-right">Enable: <%= check_box_tag 'enable_billing', false, false %></small></legend>
    <div id="billing_part">
      <%= f.input :billing_address %>
      <%= f.input :billing_city %>
      <%= f.input :billing_postal_code %>
      <%= f.input :billing_country %>
    </div>
  </div>
</div>
<div class="form-actions">
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              members_path, :class => 'btn' %>
</div>
<% end %>
