%h3
  = t('.title')
  %small
    = link_to t(".new_subscription"), new_member_subscription_path(@member), class: "btn btn-success pull-right"
- if @member.subscriptions.any?
  %table.table.table-bordered.table-striped#membership_table
    %thead
      %tr
        %th= t('subscriptions.starts')
        %th= t('subscriptions.ends')
        %th= t('subscriptions.costs')
        %th
          = t('subscriptions.paid' )
          ?
        %th.center= t('contacts.actions')
    %tbody
      - @member.subscriptions.each do |sub|
        %tr{ class: sub.current? ? "info" : "" }
          %td= sub.start_date.strftime("%b %d, %Y")
          %td= sub.end_date.strftime("%b %d, %Y")
          %td= sub.cost
          %td= sub.paid? ? t('subscriptions.paid') : t('subscriptions.unpaid')
          %td.center
            .btn-group
              = link_to raw('<i class="icon-user"></i>'), member_subscription_path(@member, sub), class: "btn btn-info btn-mini btn-tooltip", title: t("contacts.view"), target: :blank
              = link_to raw('<i class="icon-edit"></i>'), edit_member_subscription_path(@member, sub), class: "btn btn-mini btn-tooltip", title: t("contacts.edit"), target: :blank
              = link_to raw('<i class="icon-trash"></i>'),
                      member_subscription_path(@member, sub),
                      method: :delete, data: { confirm: 'Are you sure?' },
                      class: 'btn btn-mini btn-danger btn-tooltip', title: "Delete subscription"
- else
  %p= t('.no_subscriptions')
