<h1>Listing members</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Address</th>
    <th>City</th>
    <th>Postal code</th>
    <th>Country</th>
    <th>Activity</th>
    <th>Category</th>
    <th>Vat number</th>
    <th>Billing address</th>
    <th>Billing city</th>
    <th>Billing postal code</th>
    <th>Billing country</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.company %></td>
    <td><%= member.address %></td>
    <td><%= member.city %></td>
    <td><%= member.postal_code %></td>
    <td><%= member.country %></td>
    <td><%= member.activity %></td>
    <td><%= member.category %></td>
    <td><%= member.vat_number %></td>
    <td><%= member.billing_address %></td>
    <td><%= member.billing_city %></td>
    <td><%= member.billing_postal_code %></td>
    <td><%= member.billing_country %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
