<div class="container">
  <div class="row">
    <div class="span2 offset1">
      <div class="well" style="max-width: 340px; padding: 8px 0; margin-top: 24px;">
        <ul class="nav nav-list" id="sidebar">
          <li class="nav-header">Member's Menu</li>
          <li><a href="#company"><i class="icon-chevron-right pull-right"></i> Company</a></li>
          <li><a href="#membership"><i class="icon-chevron-right pull-right"></i> Membership</a></li>
          <li><a href="#contacts"><i class="icon-chevron-right pull-right"></i> Contacts</a></li>
          <li class="divider"></li>
          <li><a href="#files"><i class="icon-chevron-right pull-right"></i> Files</a></li>
        </ul>
      </div>
    </div>
    <div class="span8">
      <div class="page-header">
        <h1><%= @member.company.upcase %></h1>
      </div>
      <div class="btn-group pagination-centered well">
        <%= link_to "Back", :back, :class => 'btn'  %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
          edit_member_path(@member), :class => 'btn' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          member_path(@member),
          :method => 'delete',
          :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
          #:data => { :confirm => 'Text' }
          :class => 'btn btn-danger' %>

        <%= link_to raw('<i class="icon-download"></i> Logo'), @member.logo_file_url, class: "btn", target: "_blank" if @member.logo_file %>
          <%= link_to raw('<i class="icon-download"></i> Membership Form'), @member.membership_file_url, class: "btn", target: "_blank" if @member.membership_file %>
          <%= link_to raw('<i class="icon-download"></i> Certificate'), member_path(@member, format: "pdf", certif: 1), :class => "btn btn-inverse" %>
          <%= link_to raw('<i class="icon-qrcode"></i> QR Code'), member_path(@member, qr_code: true), :class => "btn btn-info" %>
      </div>
      <div id="company">
        <h3>Company details</h3>
        <%= display_address @member %>
      </div>
       <hr />
      <div id="tags">
        <h3>Member's tags</h3>
        <strong>Brands:</strong> <%= @member.brand_list.map(&:titleize).join(", ") %><br/>
        <strong>Activities:</strong> <%= @member.activity_list.map(&:titleize).join(", ") %>
      </div>
       <hr />
       <div id="membership">
         <%= render partial: "subscriptions" %>
       </div>
       <hr />
      <div id="contacts">
        <%= render partial: "contacts_details" %>
      </div>
       <hr />
      <div id="files">
        <h3>Files</h3>
        <%= image_tag @member.qr_code_asset_url, class: "pull-left no_margin" unless @member.qr_code_asset_url.nil? %>
        <div class="clearfix">&nbsp;</div>
      </div>
      </div>
    </div>
  </div>
