<%- model_class = @member.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
  <%= link_to raw('<i class="icon-download"></i> download logo'), @member.logo_file_url, class: "btn", target: "_blank" if @member.logo_file %>
  <%= link_to raw('<i class="icon-download"></i> membership form (pdf)'), @member.membership_file_url, class: "btn", target: "_blank" if @member.membership_file %>
  <%= link_to raw('<i class="icon-download"></i> Download Certificate'), member_path(@member, format: "pdf", certif: true), :class => "btn btn-inverse" %>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:company) %>:</strong></dt>
  <dd><%= @member.company %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @member.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @member.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:postal_code) %>:</strong></dt>
  <dd><%= @member.postal_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @member.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:activity) %>:</strong></dt>
  <dd><%= @member.activity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @member.category %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vat_number) %>:</strong></dt>
  <dd><%= @member.vat_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:billing_address) %>:</strong></dt>
  <dd><%= @member.billing_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:billing_city) %>:</strong></dt>
  <dd><%= @member.billing_city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:billing_postal_code) %>:</strong></dt>
  <dd><%= @member.billing_postal_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:billing_country) %>:</strong></dt>
  <dd><%= @member.billing_country %></dd>
</dl>
<div style="clear:both;">
</div>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              members_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_member_path(@member), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              member_path(@member),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
